- @tweets.each do |tweet|
  = image_tag tweet.user.image_url(:thumb).to_s if tweet.user.image?
  %br
  = '@' + tweet.user.name
  %br
  = tweet.content if tweet.content?
  %br
  = image_tag tweet.timage_url(:thumb).to_s if tweet.timage?
  %br
  = link_to 'edit',edit_tweet_path(tweet) 
  - if tweet.favorited? current_user
    = link_to "unfavorite(#{tweet.favorites.size})",tweet_favorite_path(tweet),method: :delete
  - else
    = link_to "favorite(#{tweet.favorites.size})",tweet_favorite_path(tweet),method: :post
  - tweet.favorites.each do |favorite|
    = User.find_by_id(favorite.user_id).screen_name
    = image_tag User.find_by_id(favorite.user_id).image_url(:thumb).to_s if User.find_by_id(favorite.user_id).image?
      
%hr  
