#notice= notice
%h1 Listing tweets
= image_tag @user.image_url(:thumb).to_s if @user.image?
= '@' + @user.name if @user.name?
= link_to 'profile',users_show_path(@user)
= link_to 'edit',edit_user_registration_path()




%table
  %tr
    %th tweet
    %th favorite
    %th follow
    %th follower
    
    %tr
      %td= @user.tweets.count
      %td= @user.favorites.count 
      %td= @user.follows.count
      %td= @user.inverse_follows.count

      
%br

= render 'form'
%hr
= render 'tweet'
