%h1 ユーザー一覧
%p フォローしましょう！

- @users.each do |u|
  %p
    = image_tag u.image_url(:thumb) if u.image?
    = u.name
    = u.bio
    = link_to 'detail',users_show_path(u)
    - if u == current_user
    - else
      = link_to 'follow',user_follow_path(u),method: :post
      = link_to 'unfollow',user_follow_path(u),method: :delete
  %br

%hr
= link_to 'back to index',tweets_path
