%h1 Users#show
%p Find me in app/views/users/show.html.haml

- if @user.image? 
  = image_tag @user.image_url(:thumb).to_s 
= @user.name
= @user.screen_name
= @user.bio

= link_to 'back to index',tweets_path()
